header.header
  .row
    .col
      img.header-logo(src="/images/plan-ahead-logo.png" alt="cooking logo")
    .col
      ul.nav
        li.nav-item
          a.nav-link.active(href='/') Home
        li.nav-item
          a.nav-link(href="/menu") Menu
        li.nav-item
          a.nav-link(href='/about/us') About Us
        li.nav-item
          a.nav-link(href='/contact') Contact
        li.nav-item
          a.nav-link(href="/login") Login